// Форма поиска

.site-search {
  float: right;
  margin-top: 7px;
  width: 205px;
  height: 25px;
  input[type="search"] {
    padding: 0 7px;
    width: 171px;
    height: 100%;
    outline: 0;
    border: 1px solid #d1d6da;
    background: url('../img/search-input-grad.png') repeat-x;
    vertical-align: top;
    font: 11px normal $body-font;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
  }
  input[type="submit"] {
    padding: 0;
    width: 34px;
    height: 100%;
    border: 0;
    background: url('../img/search-btn.png') repeat-x;
    &:hover {
      background: url('../img/search-btn-hover.png') repeat-x;
    }
  }
}

// Форма в контент-зоне

%bevel-shadow {
  -webkit-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.08);
}

%emboss-shadow {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

%input-style {
  display: block;
  font: 13px normal $body-font;
  margin: 5px 0 10px;
  padding: 7px 7px 6px;
  width: 100%;
  height: 30px;
  outline: 0;
  border: 1px solid #d1d6da;
  background-color: #fff;
  vertical-align: top;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

%focus-style {
  border-color: lighten($secondary-accent-text-color, 10%);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 2px lighten($secondary-accent-text-color, 10%);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 2px lighten($secondary-accent-text-color, 10%);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 2px lighten($secondary-accent-text-color, 10%);
  color: rgb(0,0,0);
}

.content-form {
  width: 75%;
  padding: 15px 20px;
  margin: 15px auto;
  label {
    display: block;
    margin: 6px 0;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="search"],
  textarea {
    @extend %input-style;
    @extend %emboss-shadow;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  textarea:focus,
  select:focus {
    @extend %focus-style;
  }
  .ws-errorbox {
    margin-top: -6px;
    p.ws-errormessage {
      font-size: 11px;
      color: $accent-text-color;
      padding-left: 5px;
      border-left: 3px solid $accent-text-color;
    }
  }
  .btn-container {
    text-align: center;
    .form-submit-btn {
      color: #fff;
      padding: 0 15px;
      border: 0;
      height: 30px;
      background: $lighter-text-color;
      margin: 12px auto 0;
      cursor:pointer;
      &:hover {
        background-color: lighten($secondary-accent-text-color, 10%);
      }
      &:active {
        margin-top: 3px;
        background-color: lighten($secondary-accent-text-color, 20%);
      }
    }
  }
}

// Тест-форма

.exam-form {
  width: 100%;
  fieldset {
    border: none;
    border-top: 1px solid $solid-lines-color;
  }
  ul {
    list-style: none;
  }
  label {
    display: inline-block;
  }
}

// Контакт-форма
.contact-form {
  margin-top: 0;
  width: 100%;
  input[type="text"],
  input[type="email"] {
    width: $contact-width;
  }
  textarea {
    height: auto;
    padding-top: 6px;
    resize: vertical;
  }
  select {
    outline: 0;
    border: 0 !important;
    display: block;
  }
}

// Placeholder

::-webkit-input-placeholder { color: $lighter-text-color !important; }
:-moz-placeholder { color: $lighter-text-color !important; }
::-moz-placeholder { color: $lighter-text-color !important; }
:-ms-input-placeholder { color: $lighter-text-color !important; }

:focus::-webkit-input-placeholder { color: transparent !important; }
:focus:-moz-placeholder { color: transparent !important; }
:focus::-moz-placeholder { color: transparent !important; }
:focus:-ms-input-placeholder { color: transparent !important; }

// Dropdown

.dropdown {
  a {
    color: #000; 
    text-decoration: none;
    &:hover {
      color: #000;
    }
  }
  .dropcontainer {
    position: relative;
    }
  .trigger {
    @extend %input-style;
    @extend %bevel-shadow;
    padding-right: 20px;
    width: $contact-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #fff url(../images/select-arrow-open.png) 96% center no-repeat;
  }
  .trigger:hover {
    color: $secondary-accent-text-color;
    background: $dropdown-bg-color url(../images/select-arrow-open.png) 96% center no-repeat;
  }
  .activetrigger {
    @extend %input-style;
    padding-right: 20px;
    width: $contact-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: $dropdown-bg-color url(../images/select-arrow-close.png) 96% center no-repeat;
  }
  .activetrigger:hover {
    background: $dropdown-bg-color url(../images/select-arrow-close.png) 96% center no-repeat;
    color: $secondary-accent-text-color;
  }
  .activetrigger:active {
    background: $dropdown-bg-color url(../images/select-arrow-close.png) 96% center no-repeat;
    color: $secondary-accent-text-color;
  }
  .dropcontainer ul {
    border: 1px solid #ccc;
    border-top: none;
    background: #fff;
    list-style-type: none;
    padding: 10px;
    margin: -10px 0 0 0;
    width: $contact-width;
    z-index: 100;
  }
  .dropcontainer ul li {
    padding: 5px;
    a {
      display: block;
      &:hover {
        color: $secondary-accent-text-color;
      }
    }
  }
  .dropcontainer ul li:hover {
    background: $dropdown-bg-color;
    color: $secondary-accent-text-color;
    outline: none;
  }
  .dropcontainer ul li:first-child {
    display: none;
  }
  .dropcontainer ul li:last-child {
    border-bottom: none;
  }
  .dropdownhidden {
    display: none;
  }
  .dropdownvisible {
    height: auto;
  }
}