// Border-box for all elements

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }

// Clearfix

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}