//COLORS
$main-text-color: #000; //black body text
$lighter-text-color: #656c76; //gray body text
$accent-text-color: #b2403b; // red links and headings
$secondary-accent-text-color: #0e82c7; // blue breadrumbs links
$darker-border-color: #d1d6da; // search box border
$lighter-border-color: #dcdcdc; // breadcrumbs border, dividers
$dotted-lines-color: #949494; // banner outlines, dotted dividers
$content-bg-color: #dfe8ef; // grey-blue content area background
$menu-hover-bg-color: #d9dcdf; // horizontal menu hover background
$nav-bg-color: #a0a6b0; // plain dark gray to fall back in case image does not load
$footer-light-color: #eeeeee; // light stripe of the footer

// FONT
$body-font: Verdana, Arial, Helvetica, sans-serif;
