!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html{lang: "ru"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Фрезениус Каби – Продукт
    %script{src: "js/modernizr.custom.js"}
    %script{src: "js/jquery-1.11.0.min.js"}
    %script{src: "js/jquery-ui-1.10.4.custom.js"}
    %script{src: "js/polyfiller.js"}
    %script{src: "js/main.js"}
    %link{rel: "stylesheet", href: "css/normalize.css"}
    %link{rel: "stylesheet", href: "css/jquery-ui-1.10.4.custom.css"}
    %link{rel: "stylesheet", href: "css/style.css"}
    <!-- @reload -->
  %body
    #wrapper.clearfix
      %header
        %a.logo{href: "//fresenius-kabi.ru/", title: "На главную страницу"}
        %form.site-search{method: "get", action: "//fresenius-kabi.ru/search"}
          %input{type: "search", name: "search-field", placeholder: "Поиск по сайту...", autocomplete: "off"}>
          %input{type: "submit", name: "submit-btn", value: ""}
        %nav
          %ul
            %li>
              %a.l-style-01{href: "#"}>Вход для врачей
            %li>
              %a.l-style-01{href: "#"}>На вырост
      %nav.main
        %ul.dropdown
          %li
            %a.l-style-02{href: "#"}О компании
            %ul.sub-menu
              %li 
                %a.l-style-02{href: "#"}Фрезениус Каби в мире
              %li 
                %a.l-style-02{href: "#"}Фрезениус Каби в России и СНГ
          %li 
            %a.l-style-02{href: "#"}Продукты
            %ul.sub-menu
              %li 
                %a.l-style-02{href: "#"}Инфузионная терапия
              %li 
                %a.l-style-02{href: "#"}Парентеральное питание
              %li 
                %a.l-style-02{href: "#"}Энтеральное питание
              %li 
                %a.l-style-02{href: "#"}Внутривенная анестезия
              %li 
                %a.l-style-02{href: "#"}Препараты для лечения ХПН
          %li 
            %a.l-style-02{href: "#"}Где купить
          %li 
            %a.l-style-02{href: "#"}Контакты
      %nav.breadcrumbs
        %ul
          %li
            %a.home-link.hide-text{href: "#"}Главная страница
          %li
            %a.l-style-05{href: "#"}Продукты
          %li
            %a.l-style-05{href: "#"}Энтеральное питание
          %li
            %a.l-style-05{href: "#"}Раннее энтеральное питание (глутамин)
      %nav.vertical
        %h1 Раннее энтеральное питание (глутамин)
        %ul 
          %li 
            %a.l-style-06{href: "#"}Инфузионная терапия
          %li 
            %a.l-style-06{href: "#"}Парентеральное питание
          %li 
            %span.selected-item Энтеральное питание
            %ul.level-2
              %li
                %a.l-style-07{href: "#"}Зондовые смеси
              %li
                %a.l-style-07{href: "#"}Раннее энтеральное питание (глутамин)
              %li
                %a.l-style-07{href: "#"}Стандартное дополнительное питание
              %li
                %a.l-style-07{href: "#"}Специальное дополнительное питание
          %li 
            %a.l-style-06{href: "#"}Внутривенная анестезия
          %li 
            %a.l-style-06{href: "#"}Препараты для лечения ХПН
          %li 
            %a.l-style-06{href: "#"}Химиотерапевтические препараты
          %li 
            %a.l-style-06{href: "#"}Одноразовые инфузионные помпы
      %section.inside-content
        %h1 Энтеральное питание
        %nav.product-navigation
          %ul
            %li
              %a.l-style-02{href: "#"}Общая информация
            %li
              %a.l-style-02{href: "#"}Инструкция
            %li
              %a.l-style-02{href: "#"}Информация для врачей
            %li
              %a.l-style-02{href: "#"}Где купить
        %h2 Общая информация
        %p 
          Суточная доза и скорость инфузии зависят от кровопотери, поддержания или восстановления гемодинамики и от разведения крови (гемодилюции). В ситуациях, требующих быстрой компенсации гиповолемии и экстренного восполнения объема 
          %a.l-style-08{href: "#"} циркулирующей крови 
          можно использовать 500 мл раствора в пластиковых контейнерах под давлением.
        %h2 Общая информация
        %figure.right-50
          %a{href: "img/placeholders/img-placeholder-210-2-big.jpeg", title: "Заголовок изображения", data: {lightbox: "210-2"}}
            %img{src: "img/placeholders/img-placeholder-210-2.jpeg"}
          %figcaption Заголовок изображения
        %p 
          Суточная доза и скорость инфузии зависят от кровопотери, поддержания или восстановления гемодинамики и от разведения крови (гемодилюции). В ситуациях, требующих быстрой компенсации гиповолемии и экстренного восполнения объема 
          %a.l-style-08{href: "#"} циркулирующей крови 
          можно использовать 500 мл раствора в пластиковых контейнерах под давлением. Максимальная суточная доза составляет 50 мл/кг массы тела в сутки. У детей в возрасте 10-18 лет суточная доза - 33 мл/кг у детей 2-10 лет суточная доза - 25 мл/кг, у новорожденных и детей до 2 лет суточная доза - 25 мл/кг.
        -# Ссылки PDF/DOC
        %a.l-style-pdf{href: "#"}
          %span.link Максимальная суточная доза составляет 50 мл/кг
        %a.l-style-doc{href: "#"}
          %span.link Суточная доза и скорость инфузии зависят от кровопотери, поддержания или восстановления гемодинамики и от разведения крови (гемодилюции)
          %span.meta (1.3 MB)
        -# End Ссылки PDF/DOC
        %p Максимальная суточная доза составляет 50 мл/кг массы тела в сутки. У детей в возрасте 10-18 лет суточная доза - 33 мл/кг у детей 2-10 лет суточная доза - 25 мл/кг, у новорожденных и детей до 2 лет суточная доза - 25 мл/кг.
        %figure.left-30
          %a{href: "img/placeholders/img-placeholder-140-2-big.jpeg", title: "Заголовок изображения", data: {lightbox: "140-2"}}
            %img{src: "img/placeholders/img-placeholder-140-2.jpeg"}
        %p 
          Суточная доза и скорость инфузии зависят от кровопотери, скорость инфузии зависят от кровопотери поддержания или восстановления гемодинамики и от разведения крови (гемодилюции). В ситуациях, требующих быстрой компенсации гиповолемии.
        %p 
          Суточная доза и скорость инфузии зависят от кровопотери, поддержания или восстановления гемодинамики и от разведения крови (гемодилюции).
        %figure.right-30
          %a{href: "img/placeholders/img-placeholder-140-big.jpeg", title: "Заголовок изображения", data: {lightbox: "140"}}
            %img{src: "img/placeholders/img-placeholder-140.jpeg"}
          %figcaption Заголовок изображения
        %p 
          Суточная доза и скорость инфузии зависят от кровопотери, поддержания или восстановления гемодинамики и от разведения крови (гемодилюции). Суточная доза и скорость инфузии зависят от кровопотери, поддержания или восстановления гемодинамики и от разведения крови (гемодилюции). В ситуациях, требующих быстрой компенсации гиповолемии и экстренного восполнения объема.
        %p Максимальная суточная доза составляет 50 мл/кг массы тела в сутки. У детей в возрасте 10-18 лет суточная доза - 33 мл/кг у детей 2-10 лет суточная доза - 25 мл/кг, у новорожденных и детей до 2 лет суточная доза - 25 мл/кг.
        %figure.left-50
          %a{href: "img/placeholders/img-placeholder-210-big.jpeg", title: "Заголовок изображения", data: {lightbox: "210"}}
            %img{src: "img/placeholders/img-placeholder-200.jpeg"}
        %p 
          Суточная доза и скорость инфузии зависят от кровопотери, поддержания или восстановления гемодинамики и от разведения крови (гемодилюции). В ситуациях, требующих быстрой компенсации гиповолемии и экстренного восполнения объема 
          %a.l-style-08{href: "#"} циркулирующей крови 
          можно использовать 500 мл раствора в пластиковых контейнерах под давлением. Максимальная суточная доза составляет 50 мл/кг массы тела в сутки. У детей в возрасте 10-18 лет суточная доза - 33 мл/кг у детей 2-10 лет суточная доза - 25 мл/кг, у новорожденных и детей до 2 лет суточная доза - 25 мл/кг.
        %h2 Общая информация
        -# Аккордеон
        %div.a-toggle
          %h1 Заголовок 1
          %div 
            %p Максимальная суточная доза составляет 50 мл/кг массы тела в сутки. У детей в возрасте 10-18 лет суточная доза - 33 мл/кг у детей 2-10 лет суточная доза - 25 мл/кг, у новорожденных и детей до 2 лет суточная доза - 25 мл/кг.
        %div.a-toggle
          %h1 Заголовок 2
          %div 
            %h3 Ещё подзаголовок
            %ul.content-list
              %li Исходное сырье: крахмал кукурузы восковой спелости
              %li Производство: кислотный гидролиз
              %li Очистка: диафильтрация
              %li Молекулярный вес: 130 кДальтон
              %li 
                Средний молекулярный вес Волювена in vivo в первые минуты после инфузии составляет в плазме крови 70000 - 80000 Да и остается выше порога почечной фильтрации в течение всего периода лечения.
                %ul
                  %li Высокий волемический эффект (эффект плато 4 часа).
                  %li Минимальное влияние на гемостаз.
                  %li Отсутствие накопления в тканях и ретикуло-эндотелиальной системе (СМФ).
              %li Высокая эффективность по влиянию на макро- и микроциркуляцию, улучшение оксигенации тканей.
              %li Не влияет на увеличение уровня глюкозы в сыворотке крови и может применяться у больных с сахарным диабетом.
        -# End Аккордеон
        %figure.full
          %a{href: "img/placeholders/img-placeholder-440x300.jpeg", title: "Заголовок изображения", data: {lightbox: "440"}}
            %img{src: "img/placeholders/img-placeholder-440x300.jpeg"}
          %figcaption Заголовок изображения
        %p Волювен можно вводить многократно в течение нескольких дней, в зависимости от потребностей больного. Длительность лечения зависит от продолжительности и тяжести гиповолемии, гемодинамической эффективности терапии и от гемодилюции.
        %h3 Характеристики
        %p Волювен можно вводить многократно в течение нескольких дней, в зависимости от потребностей больного. Длительность лечения зависит от продолжительности и тяжести гиповолемии, гемодинамической эффективности терапии и от гемодилюции.
        %figure.full
          %a{href: "img/placeholders/img-placeholder-400x300.jpeg", title: "Заголовок изображения 2", data: {lightbox: "400"}}
            %img{src: "img/placeholders/img-placeholder-400x300.jpeg"}
          %figcaption Заголовок изображения
        %p Волювен можно вводить многократно в течение нескольких дней, в зависимости от потребностей больного. Длительность лечения зависит от продолжительности и тяжести гиповолемии, гемодинамической эффективности терапии и от гемодилюции.
        %h3.center Ещё подзаголовок
        -# Список
        %ul.content-list
          %li Исходное сырье: крахмал кукурузы восковой спелости
          %li Производство: кислотный гидролиз
          %li Очистка: диафильтрация
          %li Молекулярный вес: 130 кДальтон
          %li 
            Средний молекулярный вес Волювена in vivo в первые минуты после инфузии составляет в плазме крови 70000 - 80000 Да и остается выше порога почечной фильтрации в течение всего периода лечения.
            %ul
              %li Высокий волемический эффект (эффект плато 4 часа).
              %li Минимальное влияние на гемостаз.
              %li Отсутствие накопления в тканях и ретикуло-эндотелиальной системе (СМФ).
          %li Высокая эффективность по влиянию на макро- и микроциркуляцию, улучшение оксигенации тканей.
          %li Не влияет на увеличение уровня глюкозы в сыворотке крови и может применяться у больных с сахарным диабетом.
        -# End Список
        %p Волювен можно вводить многократно в течение нескольких дней, в зависимости от потребностей больного. Длительность лечения зависит от продолжительности и тяжести гиповолемии, гемодинамической эффективности терапии и от гемодилюции.
        -# Таблица
        %table
          %caption Средний молекулярный вес Волювена in vivo в первые минуты после инфузии
          %thead
            %tr
              %th.long Заголовок 1
              %th.fit %
              %th.fit Что-то
              %th.fit Ещё
              %th.fit Последняя
          %tbody
            %tr
              %td.long Не влияет на увеличение уровня глюкозы
              %td.fit 200
              %td.fit 300
              %td.fit 400
              %td.fit 500
            %tr
              %td.long Показатель 2
              %td.fit 200
              %td.fit 300
              %td.fit 400
              %td.fit 500
            %tr
              %td.long Показатель 3
              %td.fit 200
              %td.fit 300
              %td.fit 400
              %td.fit 500
        -# End Таблица
        %p.footnote &sup1; Волювен можно вводить многократно в течение нескольких дней, в зависимости от потребностей больного. Длительность лечения зависит от продолжительности и тяжести гиповолемии, гемодинамической эффективности терапии и от гемодилюции.
        %p.footnote &sup2; Средний молекулярный вес Волювена in vivo в первые минуты после инфузии составляет в плазме крови 70000 - 80000
        %p 
          Суточная доза и скорость инфузии зависят от кровопотери, поддержания или восстановления гемодинамики и от разведения крови (гемодилюции). В ситуациях, требующих быстрой компенсации гиповолемии и экстренного восполнения объема 
          %a.l-style-08{href: "#"} циркулирующей крови 
          можно использовать 500 мл раствора в пластиковых контейнерах под давлением.
        %section.maps.clearfix
          %h2 Схемы проезда
          %figure.left
            %a{href: "img/maps/map_from_province.jpg", title: "Схема проезда из области", data: {lightbox: "maps"}}
              %img{src: "img/maps/map_from_province_sm.jpg"}
            %figcaption Схема проезда из области
          %figure.right
            %a{href: "img/maps/map_from_center.jpg", title: "Схема проезда из центра", data: {lightbox: "maps"}}
              %img{src: "img/maps/map_from_center_sm.jpg"}
            %figcaption Схема проезда из центра
          %figure.left
            %a{href: "img/maps/map_by_foot_1.jpg", title: "Схема прохода. Способ 1", data: {lightbox: "maps"}}
              %img{src: "img/maps/map_by_foot_1_sm.jpg"}
            %figcaption Схема прохода. Способ 1
          %figure.right
            %a{href: "img/maps/map_by_foot_2.jpg", title: "Схема прохода. Способ 2", data: {lightbox: "maps"}}
              %img{src: "img/maps/map_by_foot_2_sm.jpg"}
            %figcaption Схема прохода. Способ 2
      %aside.right-meta
        %ul
          %li.social-print
            %a.l-style-02{href: "#"}Печать страницы
          %li.social-mail
            %a.l-style-02{href: "#"}Отправить ссылку другу
          %li.social-facebook
            %a.l-style-02{href: "#"}Поделиться в Facebook
          %li.social-twitter
            %a.l-style-02{href: "#"}Поделиться в Twitter
      %footer
        %img{src: "img/footer-stripes.png"}
        %p 
          Fresenius Kabi Russia / A company of the Fresenius Kabi Group 
          %span &#124;
        %ul
          %li 
            %a.l-style-02{href: "#"}На главную
          %li 
            %a.l-style-02{href: "#"}Карта сайта
          %li 
            %a.l-style-02{href: "#"}Правовая информация
    %script{src: "js/lightbox.js"}